<div class="formbody">
    <form action="" method="post" enctype="multipart/form-data">
        <ul class="forminfo" id="general-cont" style="margin:3px;">
            <li>
                <label>类型名称</label>
                <input name="type_name" placeholder="请输入类型名称" type="text" class="dfinput" /><i>名称不能超过30个字符</i> </li>
            <li>
                <label>&nbsp;</label>
                <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
            </li              
        </ul>
    </form>
</div>



